*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman';
}
.box{
    height: 100vh;
    width: 100%;
    /* background-color: aqua; */
    overflow: hidden;
}
.box1{
    height: 10vh;
    width: 100%;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon{
    height: 40px;
    width: 80px;
    margin-left: 30px;
    box-sizing: border-box;
}
.n{
    display: flex;
    gap: 20px;
}
button{
    /* padding: 20px; */
    height: 30px;
    width: 150px;
    border-radius: 20px;
    border: none;
    background-color: lightgray;
    color: black;
    font-size: 20px;
    transition: 0.5s;
}
button:hover{
    transform:skew(10deg);
    transform: scale(1.1);
    background-image: linear-gradient(to top,gray,silver);
    color: white;
}
.aarthi{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.mani{
    color: black;
    padding-top: 8px;
    margin-right: 15px;
}
.z{
    display: flex;
    gap: 15px;
}
.box2{
    height: 90vh;
    width: 100%;
    position: relative;
    background-color: lightgray;
}
.car{
    position: relative;
    height: 320px;
    width: 900px;
    top: 160px;
    left: 50px;
    z-index: 99;
}
.nivi{
    position: absolute;
    height: 320px;
    /* width: 900px;
    bottom: 100px; */
    left: 300px;
    transition: 1s;
    animation-name: priya;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes priya{
    from{
    transform: translate(130%);
    }
    to{
        transform: translate(0%);
    }
}
.game{
    height: 300px;
    width: 60%;
    position: absolute;
    top: 90px;
    left: 330px;
}
.saro{
    font-size: 150px;
    margin: 0px;
    box-sizing: border-box;
    text-align: center;
    color: gray;
    transition: 1s;
    animation-name: ammu;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes ammu{
    from{
        transform: translateY(-160%);
    }
    to{
        transform: translateY(0%);
    }
}
.l{
    font-size: 40px;
}
.f{
    position: absolute;
    top: 320px;
    right: 0px;
}
.o{
    font-size: 35px;
}
.amma{
    font-size: 20px;
    margin-left: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
i{
    color: black;
}
i:hover{
    color: gray;
}
.mano{
    display: flex;
    gap: 20px;
    position: absolute;
    left: 640px;
    top: 520px;
}
/* .appa{
    height: 40px;
    width: 140px;
    border-radius: 5px;
    background-color: gray;
    border: 2px solid gray;
}
.appa:hover{
    background-color: deeppink;
}
.mk{
    height: 40px;
    width: 140px;
    border-radius: 5px;
    background-color: white;
    border: 2px solid gray;
} */
.mathi{
    position: relative;
    display:inline-block;
    padding: 15px;
    color: black;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}
/* a:hover{
    color: #255784;
    background-color: #2196f3;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3;
} */
.mathi span{
    position: absolute;
    display: block;
}
.mathi span:nth-child(1){
    top:0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,gray);
}
.mathi:hover span:nth-child(1){
    left:100%;
    transition: 1s;
    color: white;
}
.mathi span:nth-child(3){
    bottom:0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,gray);
}
.mathi:hover span:nth-child(3){
    right:100%;
    transition: 1s;
    transition-delay: 0.5s;
    color: white;
}
.mathi span:nth-child(2){
    top:-100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,gray);
}
.mathi:hover span:nth-child(2){
    top:100%;
    transition: 1s;
    transition-delay: 0.25s;
    color: white;
}
.mathi span:nth-child(4){
    bottom:-100%;
    left: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,gray);
}
.mathi:hover span:nth-child(4){
    bottom:100%;
    transition: 1s;
    transition-delay: 0.75s;
    color: white;
}
.gopi{
    position: relative;
    display:inline-block;
    padding: 15px;
    color: black;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}
.gopi:hover{
    color: white;
    background-color: gray;
    box-shadow: 0 0 10px gray,0 0 40px gray,0 0 60px gray;
}
@media only screen and (min-width:600px) and (max-width:900px)
{
    .box{
        height: 100vh;
        width: 100%;
        /* background-color: aqua; */
        overflow: hidden;
    }
    .box1{
        height: 10vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .icon{
        height: 40px;
        width: 80px;
        margin-left: none;
        /* box-sizing: border-box; */
    }
    .n{
        display: flex;
        gap: 1px;
    }
    button{
        /* padding: 20px; */
        height: 30px;
        width: 130px;
        border-radius: 20px;
        border: none;
        font-size: 20px;
        transition: 0.5s;
    }
    .z{
        display: flex;
    }
    .saro{
        font-size: 70px;
        margin: 0px;
        box-sizing: border-box;
        text-align: center;
        transition: 1s;
        animation-name: ammu;
        animation-duration: 1s;
        animation-iteration-count: 1;
    }
    @keyframes ammu{
        from{
            transform: translateY(-160%);
        }
        to{
            transform: translateY(0%);
        }
    }
    .game{
        height: 300px;
        width: 60%;
        position: absolute;
        top: 120px;
        left: 230px;
    }
    .car{
        position: relative;
        height: 320px;
        width: 900px;
        top: 160px;
        left:-150px;
        z-index: 99;
    }
    .nivi{
        position: absolute;
        height: 220px;
        /* width: 900px;
        bottom: 100px; */
        left: 300px;
        transition: 1s;
        animation-name: priya;
        animation-duration: 1s;
        animation-iteration-count: 1;
    }
    .mano{
        display: flex;
        gap: 20px;
        position: absolute;
        left: 340px;
        top: 420px;
    }
    .amma{
        font-size: 20px;
        margin-left: 50px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (min-width:300px) and (max-width:600px)
{
    .box{
        height: 100vh;
        width: 100%;
        /* background-color: aqua; */
        overflow: hidden;
    }
    .box1{
        height: 10vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .icon{
        height: 40px;
        width: 80px;
        margin-left: none;
        /* box-sizing: border-box; */
    }
    .n{
        display: flex;
        gap: 1px;
    }
    button{
        /* padding: 20px; */
        height: 30px;
        /* width: 150px; */
        border-radius: 20px;
        border: none;
        color: black;
        font-size: 20px;
        transition: 0.5s;
    }
    .z{
        display: flex;
    }
    .saro{
        font-size: 70px;
        margin: 0px;
        box-sizing: border-box;
        text-align: center;
        color: gray;
        transition: 1s;
        animation-name: ammu;
        animation-duration: 1s;
        animation-iteration-count: 1;
    }
    @keyframes ammu{
        from{
            transform: translateY(-160%);
        }
        to{
            transform: translateY(0%);
        }
    }
    .game{
        height: 300px;
        width: 60%;
        position: absolute;
        top: 120px;
        left: 230px;
    }
    .car{
        position: relative;
        height: 320px;
        width: 900px;
        top: 160px;
        left:-150px;
        z-index: 99;
    }
    .nivi{
        position: absolute;
        height: 220px;
        /* width: 900px;
        bottom: 100px; */
        left: 300px;
        transition: 1s;
        animation-name: priya;
        animation-duration: 1s;
        animation-iteration-count: 1;
    }
    .mano{
        display: flex;
        gap: 20px;
        position: absolute;
        left: 340px;
        top: 420px;
    }
    .amma{
        font-size: 20px;
        margin-left: 50px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
}
